/* see http://codemug.com/html/custom-scrollbars-using-css */

/*** WEBKIT START ***/
::-webkit-scrollbar
{width: 4px;background-color:transparent;border: none;}


::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track:active,
::-webkit-scrollbar-track:hover
{background-color: transparent; border: none;}

::-webkit-scrollbar-button,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-resizer
{  background-color: transparent; display:none;}

.scrolled ::-webkit-scrollbar-thumb,
.scrolled::-webkit-scrollbar-thumb,
::-webkit-scrollbar:active ::-webkit-scrollbar-thumb,
::-webkit-scrollbar:hover ::-webkit-scrollbar-thumb
::-webkit-scrollbar:active::-webkit-scrollbar-thumb,
::-webkit-scrollbar:hover::-webkit-scrollbar-thumb
{background-color:#332; border: none;}

::-webkit-scrollbar-thumb:active,
::-webkit-scrollbar-thumb:hover
{background-color:#443;}

/*** WEBKIT END ***/
/*** EXPLORER START ***/
*{
  scrollbar-base-color: transparent;
  scrollbar-darkshadow-color: transparent;
  scrollbar-3dlight-color: transparent;
  scrollbar-highlight-color: transparent;
  scrollbar-shadow-color: transparent;
  scrollbar-arrow-color: transparent;
  scrollbar-track-color: transparent;
  scrollbar-face-color: #332;
}
/*** EXPLORER END ***/