#flipbook #cover_back.hard {
    background: #1e1b16;
    color: #fff;
    background-image: url("img/cover-black.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
}

#flipbook #cover_front.hard {
    background: #fff;
    color: #333;
    background-image: url("img/cover-white.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
}

#flipbook .hard {
    background: #46a;
}

.display-double #flipbook.middle_gradient .odd.hard {
    background-image: linear-gradient(to right, #46a 0%, #46a 98%, #237 100%);
}

.display-double #flipbook.middle_gradient .even.hard {
    background-image: linear-gradient(to left, #46a 0%, #46a 98%, #237 100%);
}

.desktop #flipbook .page {
    background-image: url(img/45-degree-fabric-dark.png);
    background-color: #fffff1;
}


/* For page patterns see https://www.transparenttextures.com and http://lea.verou.me/css3patterns */

.display-double.desktop #flipbook.middle_gradient .page:not(.hard).odd {
    background-image: url(img/45-degree-fabric-dark.png), linear-gradient(to right, rgba(255, 255, 255, 0) 90%, rgba(250, 250, 250, 0.5) 94%, #999 100%);
}

.display-double.desktop #flipbook.middle_gradient .page:not(.hard).even {
    background-image: url(img/45-degree-fabric-dark.png), linear-gradient(to left, rgba(255, 255, 255, 0) 90%, rgba(250, 250, 250, 0.5) 94%, #999 100%);
}


/* control width of book */

.book_container_width {
    max-width: 1000px;
}

#flipbook .page_content.show_page_title0 {
    padding-top: 0;
}

#flipbook .page_content {
    height: calc( 100% - 80px);
    text-align: right;
    padding-right: 30px;
}

.display-double #flipbook .page_content {
    padding-right: 40px;
}

#flipbook .page_top {
    display: block;
    height: 70px;
    padding: 0;
    text-align: center;
}

#flipbook .page_top_content {
    display: inline-block;
    padding: 20px 0 5px 0;
    font-size: 15px;
    width: 80%;
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
}

.display-single #flipbook .page_top_content {
    width: calc(100% - 20px);
}

#flipbook .even .page_number_wrapper,
#flipbook .even .page_top_content {
    text-align: right;
}

#flipbook .odd .page_number_wrapper,
#flipbook .odd .page_top_content {
    text-align: left;
}

#flipbook .even .page_top_content:after {
    content: "הגיגים";
}

#flipbook .odd .page_top_content:after {
    content: "שמעון עובד";
}

#flipbook .page_number_wrapper:hover {
    opacity: 1;
}

#flipbook .page_number {
    display: inline-block;
    width: 60px;
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    padding: 0 10px;
    background: #999;
    color: #fff;
}

#flipbook .even .page_number {
    text-align: left;
    border-radius: 10px 0 0 10px;
}

#flipbook .odd .page_number {
    text-align: right;
    border-radius: 0 10px 10px 0;
}

#flipbook .first_content_line {
    margin-bottom: 13px !important;
}

@media only screen and (min-width: 1100px) {
    .book_container_width {
        width: 1000px;
    }
    .display-double #flipbook .page_content {
        padding-right: 60px;
    }
}